@tailwind base;
@tailwind components;
@tailwind utilities;



.active{
    background: #44bd32;
    color: white;
}


.parallax-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.parallax-text.visible {
    opacity: 1;
    transform: translateY(0);
}

select {
    appearance: none; /* Modern browsers */
}

.react-datepicker__input-container{
    width: 100% !important;
}

.react-datepicker-wrapper{
    width: 100% !important;
}

.react-datepicker__day--selected{
    background-color: #44bd32!important;
}
